body{
	margin: 0px;
	padding: 0px;
	background: rgba(0,0,0,.135);
}

.nav{
	margin: 0px;
	margin-bottom: 16px;
	padding-top: 15px;
	background: white;
	display: flex;
	border-bottom: 1px solid #dfe1e5;
	display: none;
}

a{
	color: #5f6368;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	padding: 9px;
	border: 1px solid transparent;
	border-radius: 7.5px;
	margin: 0px 3px;
	transition: all .6s;
}

a:hover{
	color: #1A73E8;
	border-color: #dfe1e5;
	box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

nav > .nav{
	list-style: none;
	padding-left: 9px;
}

.nav > li{
	padding: 9px 0px;
	margin-bottom: 9px;
}

nav > ul > li:last-child{
	margin-left: auto;
	margin-right: 45px;
}

nav > ul > li:last-child >a{
	box-shadow: none;
	border-color: #dfe1e5;
	transition: all .3s;
}

nav > ul > li:last-child >a:hover{
	box-shadow: none;
	transition: all .3s;
	border-color: #1A73E8;
	border-width: 1.35px;
}

.box{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid #ddd;
	max-height: 91vh;
	max-width: 82vw;
	margin: 4.5vh auto;
	border-radius: 13.5px;
	background: white;
	box-shadow: 0px 0px 27px 0px rgba(0,0,0,.45);
	transition: all .3s;
	transition: box-shadow .135s ease-in-out;
}

.box:hover{
	box-shadow: 0px 0px 63px 3px rgba(0,0,0,.54);
}

.content{
	display: flex;
	flex-direction: column;
	width: 45vw;
	margin-right: 2.25vw;
}

h1{
	font-size:36px;
	margin-left: 1vw;
	margin-bottom: 0vh;
}

.upper{
	display: flex;
	border-bottom: 1px solid #dfe1e5;
	margin-left: .18vw;
	padding-bottom: .45vw;
}

.upper > div:first-child{
	font-size: 16.4px;
	margin-left: .81vw;
}

.upper > div:last-child{
	margin-left: auto;
	margin-right: 1.35vw;
	cursor: pointer;
}

.mid{
	display: flex;
}

.left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.highlight > h3{
	font-size: 1.5vw;
	margin: 0px;
	margin-top: 18px;
	padding-bottom: 3px;
	padding-left: 1.2vw;
}

.highlight ul{
	padding-left: 4.5px;
	padding-right: 4.5px;
	margin-top: 4.5px;
	max-width: 22.5vw;
}

.highlight li{
	font-size: 1.08vw;
	padding-top: 1.2px;
}

.emi{
	margin: 0 auto 1.8vh 1.8vw;
	font-size: 2.1vh;
	color: #454545;
	border: 1px dashed #ccc;
	border-radius: 6.3px;
	padding:1.8vh 1.8vw;
}

.delivery{
	padding: 9px;
	font-size: 2.4vh;
	margin-top: auto;
	align-self: flex-end;
}

.delivery input{
	padding: 6px 9px;
}

.buy{
	background: #fbfbfb;
	margin: 3vh .75vw 3vh auto;
	max-width: 27vw;
	border: 1px solid #dfe1e5;
	border-radius: 9px;
	padding: 2.7vh 1.35vw;
}

.buy > div{
	margin-top: 1vh;
}

.buy > div:first-child{
	font-size: 1.8vw
}

.buy > div > div{
	all:unset;
	white-space: nowrap;
	background: white;
	color: #999;
	border: 1px dashed #999;
	padding: 1px 3px;
	font-size:.9vw;
	margin-left: .54vw;
}

.buy .upper{
	padding-bottom: 2.7vh;
	width: 100%;
}

.qty{
	font-size: 2.25vh;
}

.upper select{
	margin-left: 3px;
}

.buy .btn{
	background: white;
	text-align: center;
	border: 1px solid #dfe1e5;
	padding: 1vh 3vw;
	border-radius: 3px;
	margin-bottom: 1vh;	
}

.btn._buy{
	margin-top: 2.25vh;
}

.buy .offers{
	text-align: center;
	font-size: .81vw;
	color: #666666;
	margin-top: 2.7vw;
}

.details{
	font-size: .99vw;
	font-family: 'Titillium Web', sans-serif;
	padding: 0 auto;
	margin-bottom: 1vw;
}

img{
	margin-right: 3.6vw;
	max-height: 91vh;
	max-width: 39vw;
	border-radius: 13.5px;
}

@media only screen and (max-width: 1100px) {
	.box{
		margin-top: 3vh;
		height: 105vh;
		max-width: 96vw;
	}

	.content{
		width: 63vw;
		margin-right: .81vw;
	}

	.highlight > h3{
		font-size:2.5vw; 
	}

	.highlight ul{
		max-width: 45vw;
	}

	.highlight li{
		font-size: 1.5vw;
	}

	.delivery{
		padding: 9px;
		font-size: 2.25vh;
	}

	.delivery input{
		padding: 4.5px;
	}

	.buy{
		margin: 2.1vh .54vw 2.1vh auto;
		width: 36vw;
		padding: 3vh .6vw;
	}

	.buy .upper{
		padding-bottom: 3.6vh;
	}

	.buy > div:first-child{
		font-size: 2.7vw
	}

	.buy > div > div{
		font-size: 1.2vw;
	}

	.qty{
		font-size: 2.4vh;
	}

	.buy .btn{
		font-size: 1.62vw;
		padding: 1.44vh 3vw;
	}

	.buy .offers{
		font-size: 1.17vw;
		margin: 2.25vw 0px .45vw 0px;
	}

	.details{
		font-size: 1.5vw;
	}

	img{
		max-width: 33vw;
		max-height: 91.2vh;
		margin-right: 1.35vw;
	}
}

@media only screen and (max-width: 738px) {
	body{
		all:unset;
	}

	.nav{
		display: flex;
	}

	.box{
		all:unset;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.box:hover{
		box-shadow: none;
	}

	.content{
		all:unset;
		padding: 0 .63vw 1.35vh 1.35vw;
	}

	.content .upper{
		width: 99%;
	}

	.highlight > h3{
		font-size:3.33vw; 
	}

	.highlight ul{
		margin-left: 1.8vw;
		max-width: 54vw;
	}

	.highlight li{
		font-size: 2.3vw;
	}

	.emi{
		margin: 0px;
		align-self: center;
	}

	.delivery{
		padding: 18px .9vw;
		font-size: 3vw;
	}

	.delivery input{
		padding: 4.5px 13.5px;
	}

	.buy{
		margin: 2.1vh 1.35vw 2.1vh auto;
		max-width: 45vw;
		padding: 3vh 1.8vw;
	}

	.buy > div:first-child{
		font-size: 4.2vw
	}

	.buy > div > div{
		font-size: 1.8vw;
	}

	.qty{
		font-size: 2.4vh;
	}

	.buy .btn{
		font-size: 2.4vw;
		padding: 1.44vh 3vw;
	}

	.buy .offers{
		font-size: 2.1vw;
		margin: 2.7vw 0px .45vw 0px;
	}

	.details{
		margin-top: 2vh;
		font-size: 2.25vw;
	}

	img{
		max-height: 45vh;
		max-width: 81vw;
		margin: 3vh auto;
		border-radius: 0px;
	}
}

@media only screen and (max-width: 450px) {
	.box:hover{
		box-shadow: none;
	}

	.nav{
		padding: 0px;
		margin-bottom: 0px;
		width: 100%;
	}

	.nav > li:not(.visible){
		display: none;
	}

	.nav > li{
		transform: scale(.72);
		margin: 0px;
		margin-bottom: 9px;
		margin-top: 4.5px;
		padding: 0px;
		padding-top: 4.5px;
	}

	.nav > li:last-child{
		margin: 4.5px 0px 9px auto;
	}

	h1{
		font-size:6.3vw;
	}

	.upper > div:first-child{
		font-size: 3.6vw;
	}

	.upper > div:last-child{
		font-size: 3vw;
	}

	.mid{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}

	.buy{
		width: unset;
		max-width: 81vw;
		margin: 3.6vh 6.3vw;
		padding: 3vh 4.5vw;
	}

	.buy > div:first-child{
		font-size: 5.7vw;
		padding-left:3vw;
	}

	.buy > div > div{
		font-size: 2.7vw;
		margin-left: 1.5vw;
	}

	.buy .upper{
		padding-left: 3vw;
	}

	.qty{
		font-size: 2.4vh;
	}

	.buy .btn{
		font-size: 3.9vw;
		padding: 1.2vh 3vw;
	}

	.buy .offers{
		font-size: 3vw;
		margin: 4.5vw 0px .9vw 0px;
	}

	.left{
		flex-direction: column-reverse;
	}

	.delivery{
		align-self: center;
		margin-top: 0px;
		padding-top: 0px;
		font-size: 5.1vw;
	}

	.delivery input{
		padding: 5.4px 13.5px;
	}

	.emi{
		padding:2.1vh 5.4vw;
		margin: 2.7vw 0;
		align-self: center;
	}

	.highlight{
		border-bottom: 1px solid #dfe1e5;
	}

	.highlight > h3{
		font-size:6vw; 
	}

	.highlight ul{
		margin-left: 1.8vw;
		max-width: 90vw;
	}

	.highlight li{
		font-size: 3.6vw;
	}

	.details{
		margin-top: 3.6vh;
		font-size: 3.6vw;
	}
}